html * {
	font-family: Arial;
}

h1, h3 {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

/*h3 {
	background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}*/

body {
	background-color: #e8ecf2;
}

input {
	width:60%;
	text-align: center;
}

.submissionBtn {
	width:30%;
	text-align: center;
}

.top {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.skyContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
	height: 150px;
	overflow: hidden;
}

.landContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
	height: 100px;
	overflow: hidden;
}

.sky {
	/*margin-top: 0;*/
	max-width: 100%;
}

.land {
	/*margin-bottom: 0 auto;*/
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	left: 0;
	max-width: 100%;
}

img {
	display: block;
	margin: 0 auto;
}

