
<div ng-controller='makeScapeCtrl'>
	<div class=top>
		<h1>Make your Scape!</h1>
		<input ng-model='title' type='text' placeholder='Title'> <br>
		<input ng-model='skyUrl' type='text' placeholder='Sky Img'> <br>
		<input ng-model='landUrl' type='text' placeholder='Land Img'> <br>
		<button class='submissionBtn' ng-click='createScape()' type='button'>Submit</button>
	</div>

	<div class='top'><h3>{{currentTitle}}</h3></div>
	<div class='skyContainer'>
		<img class='sky' ng-src="{{currentSkyUrl}}"/>
	</div>
	<div class='landContainer'>
		<img class='land' ng-src="{{currentLandUrl}}"/>
	</div>
</div>
